name: Dlancer-Integration-Workflow

on:
  workflow_dispatch:
  pull_request_target:
    types: [opened, reopened, synchronize]

jobs:
  submit:
    name: Fetch, Test & Merge
    runs-on: ubuntu-latest
    env:
      HOST: "https://26cc-106-51-172-209.ngrok-free.app"
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      with:
        ref: ${{ github.event.pull_request.head.sha }}
        fetch-depth: 0

    - name: Fetch Drivers
      run: >-
        curl -s -o expEnv.py "https://raw.githubusercontent.com/Dlancer-org/Collaboration-scripts/master/expEnv.py";
        curl -s -o handleFailure.py "https://raw.githubusercontent.com/Dlancer-org/Collaboration-scripts/master/handleFailure.py";
        chmod +x expEnv.py handleFailure.py;
        python3 expEnv.py --prTitle "${{ github.event.pull_request.title }}";

    - name: Install dependencies
      run: sh ./dep_ins.sh

    - name: Handle Installation Errors
      if: failure()
      run: >-
        python3 handleFailure.py --repoDetails "${{ github.repository }}" --prNum "${{ github.event.pull_request.number }}" --step 1;

    - name: Run tests
      run: sh ./test.sh
    
    - name: Handle Test Errors
      if: failure()
      run: >-
        python3 handleFailure.py --repoDetails "${{ github.repository }}" --prNum "${{ github.event.pull_request.number }}" --step 2;
    
    - name: Commit Test Cases & Merge
      if: success()
      run: >-
        curl -s -o handleSubmit.py "https://raw.githubusercontent.com/Dlancer-org/Collaboration-scripts/master/handleSubmit.py";
        chmod +x handleSubmit.py;
        python3 handleSubmit.py --repoDetails "${{ github.repository }}" --prDescription "${{ github.event.pull_request.body }}" --prNum "${{ github.event.pull_request.number }}" --prAuthor "${{ github.event.pull_request.user.login }}";
